<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Sten Kreek, veebiprogrammeerimine</title>
</head>
<body>
  <img src="/images/vp_banner_2025_AA.jpg" alt="Kususe bänner">
  <h1>Sten Kreek, <a href="https:/www.tlu.ee">TLÜ</a> veebiprogrammeerimine</h1>
  <p>ei oma tähtsust.</p>
  <hr>
</body>
</html>
